

body {
	 margin: 0;
	 font-family: 'Open Sans', sans-serif;
}

ul {
	 margin: 0;
}

.menu{
	list-style:none;
	margin:0;
	padding-left:0;
}
.li1{
	position: relative;
	display:inline-block;
	padding:10px;
	background-color:white;
	
}
.drop-li:{
	background-color:black;
}
a{
	text-decoraion:none;
	padding:10px 20px;
	color:black;
	
}
.dropdown{
	display:inline-block;
}
.dropdown-content{
	display:none;
	position:absolute;
	top: 30px;
	left: 0px;
	right:10px;
	width:100px;
}
.drp-hover:hover .dropdown-content {
	display: block;
}
.drop-li {
	
	background-color:#FDA371;
color:#DB6B88;
	}
.drop-li a{
	
	text-decoration:none;
	
	
	}
.hdr{
	position: relative;
	min-height: 100vh;
	padding-top: 20px;
}
.back-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.back-header > img {
	width: 100%;
	height: 100%;
}
.content-header{
display: flex;
align-items: center;
justify-content: space-between;
max-width: 700px;
margin: 0 auto;
padding-top:10%;
}
.content-header_image {
	max-width: 100%;
	display: flex;
	justify-content: flex-end;
}
.content-header_image > img {
	width: 80%;
	
}
.content-header_text {
	width: 50%;
}
.content-header_text > p{
	font-size:12px;
}
.d1,.d2,.d3,.d4{
	display:inline-block;
	margin:30px;
}
.one{
	background-color:white;
}
h6{
	font-size: 14px;
}
.piha{
	font-size: 14px;
}
.kartopel{
	font-size:17px
}